*,
html {
  /* background-color: #000000; */
  padding: 0;
  margin: 0;
}

.bg-dark {
  background-color: #000000 !important;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.white {
  color: #ffffff;
}

.social {
  color: #ffffff !important;
  height: 90px;
  width: 90px;
}

svg {
  width: 1em;
  height: 1em;
  fill: #ffffff;
}
