* {
  /* background-color: #000000; */
  padding: 0;
  margin: 0;
}

.bg-dark {
  background-color: #000000 !important;
}

.bg-grey {
  background-color: #0c0c0c !important;
}

.btn-dark {
  background-color: #ffffff;
  color: #000000;
}

form {
  border: 1px solid #ffffff;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px 4px 8px 0px;
}

th {
  text-align: left;
  padding: 8px 0px 8px 0px;
}

input {
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 100%;
}
